.cards-container {
    display: flex;
    justify-content: center;
    height: 200px; 
    background-color: #f5f5f5;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .card-body {
    
    margin: 20px;
    height: 140px;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: white;
  }
  
  .dropdown-content {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    align-items: center;
    border-top: 1px solid #b79988;
  }
  
  .dropdown-content span{
    font-size: 5px;
  }
  
  .cards {
    position: relative;
    cursor: pointer;
  }
  
  .cards img {
    width: 100%;
    height: auto;
  }
  
  .cards p {
    font-size: 25px;
    text-align: center;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 87%;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    width: 89%;
  }
  
  .dropdown-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown-menu ul li {
    padding: 5px 0;
    cursor: pointer;
  }
  
  .dropdown-menu ul li:hover {
    background-color: #f0f0f0;
  }
  
  .dropdown-content > :nth-child(2) svg {
    font-size: 30px;
  }
  
  .dropdown-content > :nth-child(1) {
    font-size: 18px;
    font-weight: 500;
  }
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-content img{
    margin: 5px;
    height: auto;
    width: 170px;
  }
  .card-content p{
    font-size: 17px;
    color: #c7a28c;
    align-items: center;
    margin-top: 4px;
  }
  