.MuiTableCell-root .MuiTableCell-head .MuiTableCell-stickyHeader .MuiTableCell-alignCenter .MuiTableCell-sizeMedium  .css-dwuj3p-MuiTableCell-root{
  /* color: red !important; */
}
.css-dwuj3p-MuiTableCell-root{
    color: white !important;
 background-color: #003268 !important;
 font-weight: 500 !important;
}
/* Custom scrollbar for the sidebar */
.sidebar-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.sidebar-scrollbar::-webkit-scrollbar-track {
  background: #f8fafb;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  border-radius: 4px;
}

/* Custom scrollbar for the right page content */
.content-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.content-scrollbar::-webkit-scrollbar-track {
  background: #f8fafb;
}

.content-scrollbar::-webkit-scrollbar-thumb {
  background-color: #003268;
  border-radius: 4px;
}
